<div class="container">
  <h1 class="mt-5">Restaurants</h1>
  <ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
  </ul>
  <%= link_to new_restaurant_path(@restaurant), class: "btn btn-primary mt-3" do %>
    <i class="fas fa-plus"></i> Add a new restaurant
  <% end %>
</div>
